{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react"
	],
	"plugins": [
		"react-hot-loader/babel",
		["@babel/plugin-transform-runtime",{
			"corejs": 2
		}],
		"@babel/plugin-proposal-object-rest-spread",
		["@babel/plugin-proposal-decorators", {
			"legacy": true
		}],
		"@babel/plugin-syntax-dynamic-import",
		[
			"@babel/plugin-proposal-class-properties",
			{
				"spec": true
			}
		]
	]
}